<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12 b-r">
      <h3 class="m-t-none m-b font-thin">Add Role</h3>
      <form role="form" ng-controller="UserController">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="user.name">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" ng-model="user.email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" ng-model="user.password">
        </div>
        <div class="checkbox m-t-lg">
          <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="addUser()"><strong>Add Role</strong></button>
        </div>
        <div ng-repeat="role in roles">
          {{ role.name }}
        </div>
      </form>
    </div>
</div>