<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">User Management</h1>
</div>
<div class="wrapper-md" ng-controller="UserController">
  <div class="panel panel-default">
    <div class="panel-heading">
      List All Roles
    </div>
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
        <span ng-controller="ModalDemoCtrl">
          <script type="text/ng-template" id="myModalContent.html">
            <div ng-include="'tpl/modal/role.add.html'"></div>
          </script>
          <button class="btn btn-success" ng-click="open('sm')">Add Role</button>
        </span>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-3">
        <div class="input-group pull-right">
          <input type="text" class="input-sm form-control" placeholder="Search" ng-model="query">
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Registered Date</th>
            <th style="width:100px"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users | filter:query | orderBy:'name'">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at }}</td>
            <td><a class="btn btn-info btn-xs" href="#/app/user/{{ user.id }}">  <span class="glyphicon glyphicon-pencil" ></span></a> <button class="btn btn-danger btn-xs" ng-click="deleteUser(user)">  <span class="glyphicon glyphicon-trash" ></span></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
          <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
        </div>
        <div class="pull-right col-sm-4 text-right text-center-xs">
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li><a href><i class="fa fa-chevron-left"></i></a></li>
            <li><a href>1</a></li>
            <li><a href>2</a></li>
            <li><a href>3</a></li>
            <li><a href>4</a></li>
            <li><a href>5</a></li>
            <li><a href><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>