<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">User Management</h1>
</div>
<div class="wrapper-md" ng-controller="UserController" ng-init="getPosts()">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close($index)">{{alert.msg}}</alert>
  <div class="panel panel-default">
    <div class="panel-heading">
      List All Users
    </div>
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
        <span ng-controller="ModalDemoCtrl">
          <script type="text/ng-template" id="myModalContent.html">
            <div ng-include="'tpl/modal/user.add.html'"></div>
          </script>
          <button class="btn btn-success" ng-click="open('sm')">Add User</button>
        </span>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-3">
        <div class="input-group pull-right">
          <input type="text" class="input-sm form-control" placeholder="Search" ng-model="query">
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th style="width:100px"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in posts | filter:query | orderBy:'name'">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td><span ng-repeat="hak in user.roles" class="btn btn-info btn-xs">{{ hak.name }}</span></td>
            <td><a class="btn btn-info btn-xs" href="#/app/user/{{ user.id }}">  <span class="glyphicon glyphicon-pencil" ></span></a> <button class="btn btn-danger btn-xs" ng-click="deleteUser(user)">  <span class="glyphicon glyphicon-trash" ></span></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
          <small class="text-muted inline m-t-sm m-b-sm">Show : {{ awal }} - {{ akhir }} of {{ total }} data</small>
        </div>
        <div class="pull-right col-sm-4 text-right text-center-xs">
                <posts-pagination></posts-pagination>
        </div>
      </div>
    </footer>
  </div>
</div>